<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215957576022-ulqdio4jgosh8t0hdvagojadbbaf1hki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215957576022-ulqdio4jgosh8t0hdvagojadbbaf1hki</string>
	<key>API_KEY</key>
	<string>AIzaSyAG21PzkvUmFEilAIMlfltcRKIEsluNE9s</string>
	<key>GCM_SENDER_ID</key>
	<string>215957576022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swift-fmi.CoachAssistantApp</string>
	<key>PROJECT_ID</key>
	<string>coachassistantapp</string>
	<key>STORAGE_BUCKET</key>
	<string>coachassistantapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215957576022:ios:11c0c9269ba98472161ef7</string>
	<key>DATABASE_URL</key>
	<string>https://coachassistantapp.firebaseio.com</string>
</dict>
</plist>